<div class="col-lg-4">
  <div class="row">
    <h2>User info</h2>
    <p>
      <%= image_tag user.get_profile_image(100, 100) %>
    </p>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= user.introduction %></td>
        </tr>
      </tbody>
    </table>
    <% if user == current_user %>
      <p><%= link_to "プロフィール編集", edit_user_path(user.id) %></p>
    <% else %>
      <%= link_to "プロフィール編集", user_path(current_user.id) %>
    <% end %>
  </div>

  <div class="row">
    <h2>New book</h2>
    <%= form_with model: book, url: books_path, method: :post do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
  </div>
</div>