<div class="container">
  <%= flash[:notice] %>
  <div class="row">
    <%= render partial: 'sidebar', locals: {user: @user, book: @book } %>

    <div class="col-md-8">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100) %><br>
                <%= @user.name %>
              <% end %>

            </td>
            <td>
              <%= link_to book_path(@Book.id) do %>
                <%= @Book.title %>
              <% end %>
            </td>
            <td>
              <%= @Book.body %>
            </td>
            <td>
              <% if @user == current_user %>
                <p><%= link_to "Edit", edit_book_path(@Book.id) %></p>
              <% end %>
            </td>
            <td>
              <% if @user == current_user %>
                <%= link_to "Destroy", book_path(@Book.id), method: :delete, "data-comfirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>